<div id="message_<%= msg.id %>" class="flex <%= msg.role_user? ? 'justify-end' : 'justify-start' %> mb-3">
  <div class="max-w-md w-full px-4 py-3 rounded-xl shadow-md
      <%= msg.role_user? ? 'bg-purple-600 text-white' : 'bg-gray-800 text-gray-100' %>
      hover:shadow-lg transition-shadow duration-200">

    <%= render partial: "chat/message_content", locals: { msg: msg } %>

    <p class="text-[12px] text-white/60 mt-1 text-right flex flex-col items-end">
      <span><%= msg.created_at.strftime("%d.%m.%Y %H:%M") %></span>
      <% if msg.response_time_ms.present? %>
        <span class="text-gray-400"><%= (msg.response_time_ms / 1000.0).round(2) %> s</span>
      <% end %>
    </p>
  </div>
</div>
